/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

*{  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: aqua;
}
.header{
    grid-column: 2/7;
    grid-row: 1/2;
    background-color: blanchedalmond;
}
.main{
    grid-column: 2/7;
    grid-row: 2/7;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}
.horizontal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.vertical{
    display: flex;
    flex-direction: row;
}
.side-bar{
    grid-row: 1/7;
    grid-column: 1/2;
    background-color: pink;
    height: 100%;
}